<div class="main">
    <div class="top-menu box-shadow-regular">
        <div class="top-menu-logo">
            <span>20-16-20</span>
        </div>
        <div class="top-menu-content">
            <div class="app-menu">
                <div class="item margin-right">
                    <img src="../../../../assets/images/project.png" alt="">
                    <span>Проекты</span>
                </div>
                <div class="item margin-left-right">
                    <img src="../../../../assets/images/supplier.png" alt="">
                    <span>Поставищики и прайсы</span>
                </div>
                <div class="item margin-left-right">
                    <img src="../../../../assets/images/ready_nodes.png" alt="">
                    <span>Готовые узлы</span>
                </div>
                <div class="item margin-left">
                    <img src="../../../../assets/images/stock.png" alt="">
                    <span>Склад</span>
                </div>
            </div>
            <div class="app-settings">
                <div class="item">
                    <img src="../../../../assets/images/notification.png" alt="">
                </div>
                <div class="item">
                    <img src="../../../../assets/images/settings.png" alt="">
                </div>
                <div class="item">
                    <img src="../../../../assets/images/information.png" alt="">
                </div>
                <span>
                    {{this.driver._model.user.username}}
                </span>
                <div class="item">
                    <img src="../../../../assets/images/user.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-left-menu">
            <div class="buttonXX box-shadow-regular">
                <span>
                    + Новый проект
                </span>
            </div>
        </div>
        <div class="content-right-box">
            <display-component></display-component>
        </div>
    </div>
</div>
