<div class="welcome">
  <div class="leftSide">
      <div class="title">
          <span>20-16-20</span>
          <div class="subtitle">
              <span>
                система автоматизации расчетов технической документации и сметы
              </span>
          </div>
      </div>
      <div class="content">
          <div class="buttonX" (click)="this._onClickLoginAs()">
              <span>
                  Я дилер/монтажник
              </span>
          </div>
          <div class="buttonX" (click)="this._onClickLoginAs()">
              <span>
                  Я поставищик
              </span>
          </div>
      </div>
  </div>
  <div class="rightSide">
  </div>
</div>
