<div class="display-component box-shadow-panel-regular">
    <div class="title">
        <div class="name">
            <span>Проекты</span>
        </div>
        <div class="settings">
            <div class="search-input">
                <img src="../../../../assets/images/search_lense.png" alt="">
                <input type="text" name="name" placeholder="Поиск..">
            </div>
            <div class="display-content-settings">
                <img src="../../../../assets/images/settings-blue.png" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="column">
            <div class="title">
                <span>Новые</span>
            </div>
            <div class="column-list">
                <div class="input-data">
                    <input type="text" name="new-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="new-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="new-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="new-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="new-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="new-project" class="input-regular-150" placeholder="">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <span>Подсчитанные</span>
            </div>
            <div class="column-list">
                <div class="input-data">
                    <input type="text" name="calculated-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="calculated-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="calculated-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="calculated-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="calculated-project" class="input-regular-150" placeholder="">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <span>В работе</span>
            </div>
            <div class="column-list">
                <div class="input-data">
                    <input type="text" name="in-work-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="in-work-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="in-work-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="in-work-project" class="input-regular-150" placeholder="">
                </div>
                <div class="input-data">
                    <input type="text" name="in-work-project" class="input-regular-150" placeholder="">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <span>Завершенные</span>
            </div>
            <div class="column-list">
                <div class="input-data">
                    <select class="input-regular-150 select-regular-160">
                        <option value="" disabled selected hidden>2018</option>
                        <option>Росстя</option>
                        <option>Украина</option>
                        <option>Сша</option>
                        <option>Канада</option>
                    </select>
                </div>
                <div class="input-data">
                    <select class="input-regular-150 select-regular-160">
                        <option value="" disabled selected hidden>2019</option>
                        <option>Росстя</option>
                        <option>Украина</option>
                        <option>Сша</option>
                        <option>Канада</option>
                    </select>
                </div>
                <div class="input-data">
                    <select class="input-regular-150 select-regular-160">
                        <option value="" disabled selected hidden>2020</option>
                        <option>Росстя</option>
                        <option>Украина</option>
                        <option>Сша</option>
                        <option>Канада</option>
                    </select>
                </div>
                <div class="input-data">
                    <select class="input-regular-150 select-regular-160">
                        <option value="" disabled selected hidden>2021</option>
                        <option>Росстя</option>
                        <option>Украина</option>
                        <option>Сша</option>
                        <option>Канада</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <span>Архив</span>
            </div>
            <div class="column-list">

            </div>
        </div>
    </div>
</div>
