@mixin displayContent($display, $flex-direction, $flex-wrap, $justify-content, $align-items, $align-content) {
    display: $display;
    @if ($flex-direction != 'none') {
        flex-direction: $flex-direction;
    }
    @if ($flex-wrap != 'none') {
        flex-wrap: $flex-wrap;
    }
    @if ($justify-content != 'none') {
        justify-content: $justify-content;
    }
    @if ($align-items != 'none') {
        align-items: $align-items;
    }
    @if ($align-items != 'none') {
        align-content: $align-content;
    }
}

@mixin componentSize($width, $min-width, $height, $min-height) {
    width: $width;
    min-width: $min-width;
    height: $height;
    min-height: $min-height;
}

@mixin componentBackgroundColor($background-color) {
    background-color: $background-color;
}
@mixin componentBackgroundColorWithGradient($background-color) {
    background-image: $background-color;
}

@mixin componentBackgroundImage($background-image, $background-repeat, $background-size, $background-position-X, $background-position-Y, $background-attached) {
    background-image: url($background-image);
    background-repeat: $background-repeat;
    background-size: $background-size;
    background-position: $background-position-X $background-position-Y;
    background-attachment: $background-attached;
}

@mixin componentBasicStyle($position, $color, $padding, $margin, $border, $border-radius) {
    position: $position;
    @if ($position == 'absolute') {
        top: 0;
    }
    @if ($color != 'none') {
        color: $color;
    }
    @if ($padding != 'none') {
        padding: $padding;
    }
    @if ($margin != 'none') {
        margin: $margin;
    }
    @if ($border != 'none') {
        border: $border;
    }
    @if ($border-radius != 'none') {
        border-radius: $border-radius;
    }
}

@mixin componentFontFamily($font-family) {
    font-family: $font-family;
}

@mixin componentFontSize($font-size) {
    font-size: $font-size;
}

@mixin componentFontStyle($font-style) {
    font-style: $font-style;
}

@mixin componentFontWeight($font-weight) {
    font-weight: $font-weight;
}

@mixin componentOpacity($opacity) {
    opacity: $opacity
}

@mixin componentTransition($css-attribute-title, $css-attribute-value, $delay) {

    @if ($css-attribute-title == opacity) {
        opacity: $css-attribute-value !important;
        -webkit-transition: opacity $delay ease-in-out;
        -moz-transition: opacity $delay ease-in-out;
        -o-transition: opacity $delay ease-in-out;
        transition: opacity $delay ease-in-out;
    }

    @if ($css-attribute-title == top) {
        top: $css-attribute-value !important;
        -webkit-transition: top $delay ease-in-out;
        -moz-transition: top $delay ease-in-out;
        -o-transition: top $delay ease-in-out;
        transition: top $delay ease-in-out;
    }

    @if ($css-attribute-title == margin-top) {
        margin-top: $css-attribute-value !important;
        -webkit-transition: margin-top $delay ease-in-out;
        -moz-transition: margin-top $delay ease-in-out;
        -o-transition: margin-top $delay ease-in-out;
        transition: margin-top $delay ease-in-out;
    }

    @if ($css-attribute-title == left) {
        left: $css-attribute-value !important;
        -webkit-transition: left $delay ease-in-out;
        -moz-transition: left $delay ease-in-out;
        -o-transition: left $delay ease-in-out;
        transition: left $delay ease-in-out;
    }

    @if ($css-attribute-title == margin-left) {
        margin-left: $css-attribute-value !important;
        -webkit-transition: margin-left $delay ease-in-out;
        -moz-transition: margin-left $delay ease-in-out;
        -o-transition: margin-left $delay ease-in-out;
        transition: margin-left $delay ease-in-out;
    }

    @if ($css-attribute-title == right) {
        right: $css-attribute-value !important;
        -webkit-transition: right $delay ease-in-out;
        -moz-transition: right $delay ease-in-out;
        -o-transition: right $delay ease-in-out;
        transition: right $delay ease-in-out;
    }

    @if ($css-attribute-title == margin-right) {
        margin-right: $css-attribute-value !important;
        -webkit-transition: margin-right $delay ease-in-out;
        -moz-transition: margin-right $delay ease-in-out;
        -o-transition: margin-right $delay ease-in-out;
        transition: margin-right $delay ease-in-out;
    }

    @if ($css-attribute-title == bottom) {
        bottom: $css-attribute-value;
        -webkit-transition: bottom $delay ease-in-out;
        -moz-transition: bottom $delay ease-in-out;
        -o-transition: bottom $delay ease-in-out;
        transition: bottom $delay ease-in-out;
    }

    @if ($css-attribute-title == margin-bottom) {
        margin-bottom: $css-attribute-value !important;
        -webkit-transition: margin-bottom $delay ease-in-out;
        -moz-transition: margin-bottom $delay ease-in-out;
        -o-transition: margin-bottom $delay ease-in-out;
        transition: margin-bottom $delay ease-in-out;
    }

    @if ($css-attribute-title == width) {
        width: $css-attribute-value;
        -webkit-transition: width $delay ease-in-out;
        -moz-transition: width $delay ease-in-out;
        -o-transition: width $delay ease-in-out;
        transition: width $delay ease-in-out;
    }

    @if ($css-attribute-title == height) {
        height: $css-attribute-value;
        -webkit-transition: height $delay ease-in-out;
        -moz-transition: height $delay ease-in-out;
        -o-transition: height $delay ease-in-out;
        transition: height $delay ease-in-out;
    }

    @if ($css-attribute-title == box-shadow) {
        -webkit-box-shadow: $css-attribute-value;
        -moz-box-shadow: $css-attribute-value;
        box-shadow: $css-attribute-value;
        -webkit-transition: -webkit-box-shadow $delay ease-in-out;
        -moz-transition: -moz-box-shadow $delay ease-in-out;
        transition: box-shadow $delay ease-in-out;
    }

    @if ($css-attribute-title == scale) {
        transform: scale($css-attribute-value);
        -ms-transform: scale($css-attribute-value);
        -webkit-transform: scale($css-attribute-value);
        -webkit-transition: $delay ease-in-out;
        -moz-transition: $delay ease-in-out;
        transition: $delay ease-in-out;
    }
}

@mixin screen-resolution-min-width-200-x-max-width-320 {
  @media only screen and (min-width: 200px) and (max-width: 320px) {
    @content;
  }
}
@mixin screen-resolution-min-width-321-x-max-width-767 {
  @media only screen and (min-width: 321px) and (max-width: 767px) {
    @content;
  }
}
@mixin screen-resolution-min-width-600-x-max-width-800 {
  @media only screen and (min-width: 600px) and (max-width: 800px) {
    @content;
  }
}
@mixin screen-resolution-min-width-768-x-max-width-1024-and-webkit-min-device-pixel-ratio_1 {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    @content
  }
}
@mixin screen-resolution-min-width-768-x-max-width-1023 {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}
@mixin screen-resolution-min-width-1024-x-max-width-1151 {
  @media only screen and (min-width: 1024px) and (max-width: 1151px) {
    @content;
  }
}
@mixin screen-resolution-min-width-1152-x-max-width-1279 {
  @media only screen and (min-width: 1152px) and (max-width: 1279px) {
    @content;
  }
}
@mixin screen-resolution-min-width-1280-x-max-width-1359 {
  @media only screen and (min-width: 1280px) and (max-width: 1359px) {
    @content;
  }
}
@mixin screen-resolution-min-width-1360-x-max-width-1919 {
    @media only screen and (min-width: 1360px) and (max-width: 1919px) {
      @content;
    }
}
@mixin screen-resolution-min-width-1920 {
    @media only screen and (min-width: 1920px) {
        @content;
    }
}
