<div class="login">
    <div class="title">
        <span>20-16-20</span>
        <div class="subtitle">
            <span>
              система автоматизации расчетов технической документации и сметы
            </span>
        </div>
    </div>
    <div class="input-user-details">
        <div class="username">
            <span>Имя:</span>
            <input [(ngModel)]="this._inputUsername" type="text" name="name" class="input-regular-150" placeholder="Имя">
        </div>
        <div class="password">
            <span>Пароль:</span>
            <input [(ngModel)]="this._inputPassword" type="password" name="password" class="input-regular-150" placeholder="Пароль">
        </div>
    </div>
    <div class="content">
        <div class="buttonX" (click)="this._onClickLogin()">
            <span>
                Вход
            </span>
        </div>
        <div class="buttonX" (click)="this._onClickRegistration()">
            <span>
                Регистрация
            </span>
        </div>
    </div>
</div>
