@import "style/component";

html, body
{
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
  position: relative;
  height: 100%;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  overflow-x: hidden;
  background-color: #E5E5E5;
}
.box-shadow-regular {box-shadow: 0 0 15px rgb(0 0 0 / 10%);-webkit-box-shadow: 0 0 15px rgb(0 0 0 / 10%); -moz-box-shadow: 0 0 15px rgb(0 0 0 / 10%);}
.box-shadow-panel-regular {box-shadow: 0 7px 15px rgb(0 0 0 / 10%);-webkit-box-shadow:0 7px 15px rgb(0 0 0 / 10%); -moz-box-shadow: 0 7px 15px rgb(0 0 0 / 10%);}
.box-shadow-animated:hover {box-shadow: 0 0 15px rgb(0 0 0 / 40%);-webkit-box-shadow: 0 0 15px rgb(0 0 0 / 40%); -moz-box-shadow: 0 0 15px rgb(0 0 0 / 40%);}
.box-shadow-animated:hover {transition: all 1s ease-in-out;}

.login {
    @include displayContent(flex, row, nowrap, center, center, stretch);
    width: 100%;
    min-height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    .title {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        span {
            font-size: 54px;
            font-weight: 500;
            line-height: 65px;
            letter-spacing: 0em;
            text-align: left;
            color: #0E59B8;
        }
        .subtitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            margin-top: 25px;
            margin-bottom: 25px;
            span {
                //styleName: Heading / H4;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: center;
                color: #2B3332;
            }
        }
    }
    .input-user-details {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 90px;
        .username,
        .password {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: stretch;
        }
        .username {
            width: 400px;
            min-height: 40px;

        }
        .password {
            width: 400px;
            min-height: 40px;
        }
        .username,
        .password {
            span {
              width: 65px;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              /* identical to box height, or 138% */
              text-align: right;
              margin-right: 10px;
              color: #2B3332;
            }
            .input-regular-150 {position:relative;color:#888da8; width:150px;padding: 5px; font-size: 14px;text-align: left; border-radius: 3px 3px 3px 3px; border: 1px solid #E5E5E5;background-color: white;outline: 0;}
            .input-regular-150::-webkit-input-placeholder {color: #888da8;font-size: 14px; height:20px; text-align: left;}
            .input-regular-150::-moz-placeholder {color: #888da8;font-size: 14px; height:30px; text-align: left;}
            .input-regular-150:focus {outline:none;}
        }
    }
    .content {
        width: 400px;
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        justify-content: center;
        .buttonX {
            //width: 180px;
            min-height: 40px;
            border: 1px solid #2F89FC;
            border-radius: 5px 5px 5px 5px;
            margin: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            cursor: pointer;
            span {
                height: 25px;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0em;
                text-align: center;
                margin-left: 15px;
                margin-right: 15px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                color: #2F89FC;
            }
            &:hover {
                background-color: #2F89FC;
                span {
                    color: white;
                }
            }
        }
    }
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    min-height: 100%;
    height: 100%;
    .top-menu {
        width: 100%;
        min-height: 100px;
        height: 100px;
        background-color: #2F89FC;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        .top-menu-logo {
            width: 30%;
            min-height: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            span {
                font-size: 34px;
                font-weight: 500;
                line-height: 65px;
                letter-spacing: 0em;
                color: white;
                text-align: center;
                margin-left: 20%;
            }
        }
        .top-menu-content {
            width: 70%;
            min-height: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: stretch;
            span {
              font-size: 16px;
              line-height: 20px;
              letter-spacing: 0em;
              font-weight: normal;
              color: white;
              text-align: center;
              padding-left: 5px;
              padding-right: 5px;
            }
            .margin-left-right {
                margin-left: 10px;
                margin-right: 10px;
            }
            .margin-left {
                margin-left: 10px;
            }
            .margin-right {
                margin-right: 10px;
            }
            .app-menu {
                width: auto;
                min-height: 100px;
                height: 100px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                align-content: stretch;
                .item {
                    width: 120px;
                    min-height: 100px;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: stretch;
                    cursor: pointer;
                    &:hover {
                        background-color: #0E59B8;
                    }
                    transition: all 0.2s ease-in-out;
                }
            }
            .app-settings {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                align-content: stretch;
                width: 250px;
                min-height: 100px;
                height: 100px;
                margin-right: 10%;
                .item {
                    width: 30px;
                    min-height: 300px;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: stretch;
                    cursor: pointer;
                }
            }
        }
    }
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        .content-left-menu {
            width: 20%;
            height: 100%;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            border-right: 2px solid #2F89FC;

            .buttonXX {
                width: 220px;
                min-height: 60px;
                border: 1px solid #2F89FC;
                border-radius: 5px 5px 5px 5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                cursor: pointer;
                margin-top: 30px;
                background-color: #2F89FC;
                span {
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0em;
                    text-align: center;
                    margin-left: 15px;
                    margin-right: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    color: white;
                }
                &:hover {
                    background-color: white;
                    span {
                        color: #2F89FC;
                        transition: all 0.2s ease-in-out;
                    }
                    box-shadow: unset;
                    -webkit-box-shadow: unset;
                    -moz-box-shadow: unset;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
        .content-right-box {
            width: 80%;
            height: 100%;
            background-color: #E5E5E5;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            .display-component {
                margin-left: 3%;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: stretch;
                background-color: white;
                border-radius: 5px 5px 5px 5px;
                .title {
                    width: 100%;
                    min-height: 100px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    align-content: stretch;
                    .name {
                        width: 250px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        align-content: stretch;
                        span {
                            font-size: 36px;
                            font-weight: 500;
                            line-height: 43px;
                            letter-spacing: 0em;
                            text-align: center;
                        }
                    }
                    .settings {
                        width: 300px;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        align-content: stretch;
                        .search-input {
                            width: 260px;
                            min-height: 30px;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            border-radius: 3px 3px 3px 3px;
                            border: 1px solid #E5E5E5;
                            input {position:relative;color:#888da8; width:100%;padding: 5px; font-size: 14px;text-align: left; border: 0 solid #E5E5E5;background-color: white;outline: 0;}
                            input::-webkit-input-placeholder {color: #888da8;font-size: 14px; height:20px; text-align: left;}
                            input::-moz-placeholder {color: #888da8;font-size: 14px; height:30px; text-align: left;}
                            input:focus {outline:none;}
                            img { margin-left: 10px;}
                            input { margin-left: 5px; margin-right: 5px}
                        }
                        .display-content-settings {
                            width: 40px;
                            min-height: 40px;
                            margin: 10px 10px 10px 10px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            align-content: stretch;
                        }
                    }
                }
                .content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    align-content: stretch;
                    .column {
                        width: 250px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: stretch;
                        .title {
                            width: 100%;
                            min-height: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            align-content: stretch;
                            cursor: pointer;
                            margin-top: 40px;
                            span {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 22px;
                                letter-spacing: 0em;
                                text-align: center;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        .column-list {
                            .input-data{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                align-content: stretch;
                                width: auto;
                                min-height: 40px;
                                margin: 5px 5px 5px 5px;
                                span {
                                    width:150px;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 22px;
                                    /* identical to box height, or 138% */
                                    text-align: right;
                                    margin-right: 10px;
                                    color: #2B3332;
                                }
                                .input-regular-150 {position:relative;color:#888da8; width:150px;padding: 5px; font-size: 14px;text-align: left; border-radius: 3px 3px 3px 3px; border: 1px solid #E5E5E5;background-color: white;outline: 0;}
                                .input-regular-150::-webkit-input-placeholder {color: #888da8;font-size: 14px; height:20px; text-align: left;}
                                .input-regular-150::-moz-placeholder {color: #888da8;font-size: 14px; height:30px; text-align: left;}
                                .input-regular-150:focus {outline:none;}

                                .select-regular-160 {width:160px !important; height: 30px;}
                            }
                        }
                    }
                }
            }
        }
    }
}
.registration {
    @include displayContent(flex, row, nowrap, center, center, stretch);
    width: 100%;
    min-height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    .title {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        span {
            font-size: 54px;
            font-weight: 500;
            line-height: 65px;
            letter-spacing: 0em;
            text-align: left;
            color: #0E59B8;
        }
        .subtitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            margin-top: 25px;
            margin-bottom: 25px;
            span {
                //styleName: Heading / H4;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: center;
                color: #2B3332;
            }
        }
    }
    .input-user-details {
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-height: 90px;
        .left-side-content  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: stretch;
        }
        .right-side-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: stretch;
        }
        .left-side-content,
        .right-side-content {
            width: auto;
            min-height: auto;
            height: auto;
            .input-data{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: stretch;
                width: auto;
                min-height: 40px;
                margin: 10px 10px 10px 10px;
                span {
                    width:150px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height, or 138% */
                    text-align: right;
                    margin-right: 10px;
                    color: #2B3332;
                }
                .input-regular-150 {position:relative;color:#888da8; width:150px;padding: 5px; font-size: 14px;text-align: left; border-radius: 3px 3px 3px 3px; border: 1px solid #E5E5E5;background-color: white;outline: 0;}
                .input-regular-150::-webkit-input-placeholder {color: #888da8;font-size: 14px; height:20px; text-align: left;}
                .input-regular-150::-moz-placeholder {color: #888da8;font-size: 14px; height:30px; text-align: left;}
                .input-regular-150:focus {outline:none;}

                .select-regular-160 {width:160px !important;}
            }
        }
    }
    .content {
        width: 400px;
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        justify-content: center;
        .buttonX {
            //width: 180px;
            min-height: 40px;
            border: 1px solid #2F89FC;
            border-radius: 5px 5px 5px 5px;
            margin: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            cursor: pointer;
            span {
                height: 25px;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0em;
                text-align: center;
                margin-left: 15px;
                margin-right: 15px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                color: #2F89FC;
            }
            &:hover {
                background-color: #2F89FC;
                span {
                  color: white;
                }
            }
        }
    }
}
.welcome {
    @include displayContent(flex, row, nowrap, center, center, stretch);
    width: 100%;
    min-height:100%;
    .leftSide {
        width: 100%;
        min-height: 700px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        .title {
            width: 400px;
            span {
                font-size: 54px;
                font-weight: 500;
                line-height: 65px;
                letter-spacing: 0em;
                text-align: left;
                color: #0E59B8;
            }
            .subtitle {
                span {
                    //styleName: Heading / H4;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #2B3332;
                }
            }
        }
        .content {
            width: 400px;
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .buttonX {
                //width: 180px;
                min-height: 60px;
                margin-right: 20px;
                border: 1px solid #2F89FC;
                border-radius: 5px 5px 5px 5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                cursor: pointer;
                span {
                    height: 30px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: center;
                    margin-left: 15px;
                    margin-right: 15px;
                    color: #2F89FC;
                }
                &:hover {
                    background-color: #2F89FC;
                    span {
                      color: white;
                    }
                }
            }
        }
    }
    .rightSide {
        width: 100%;
        min-height: 700px;
        height: 100%;
        background-image: url(assets/images/registration_page_bg.png);
        background-position: center right;
        background-repeat: no-repeat;
    }
}
