<div class="registration">
    <div class="title">
        <span>20-16-20</span>
        <div class="subtitle">
            <span>
              Введите данные для регистрации
            </span>
        </div>
    </div>
    <div class="input-user-details">
        <div class="left-side-content">
            <div class="input-data">
                <span>Имя:</span>
                <input type="text" name="first-name" class="input-regular-150" placeholder="Имя">
            </div>
            <div class="input-data">
                <span> Отчество:</span>
                <input type="text" name="middle-name" class="input-regular-150" placeholder="">
            </div>
            <div class="input-data">
                <span> Фамилия:</span>
                <input type="text" name="last-name" class="input-regular-150" placeholder="">
            </div>
            <div class="input-data">
                <span> Дата рождения:</span>
                <input type="text" name="birth-date" class="input-regular-150" placeholder="">
            </div>
        </div>
        <div class="right-side-content">
            <div class="input-data">
                <span>Страна:</span>
                <select class="input-regular-150 select-regular-160">
                    <option value="" disabled selected hidden>Страна</option>
                    <option>Росстя</option>
                    <option>Украина</option>
                    <option>Сша</option>
                    <option>Канада</option>
                </select>
            </div>
            <div class="input-data">
                <span> Город:</span>
                <input type="text" name="city" class="input-regular-150" placeholder="">
            </div>
            <div class="input-data">
                <span> Электронная почта:</span>
                <input type="text" name="email" class="input-regular-150" placeholder="">
            </div>
            <div class="input-data">
                <span> Телефон:</span>
                <input type="text" name="telephone" class="input-regular-150" placeholder="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="buttonX">
            <span>
                Зарегистрироваться
            </span>
        </div>
    </div>
</div>
